@page "/registerresidence"

<div class="mat-layout-grid mat-layout-grid-align-left" style="width: 100%;">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <h1>Register your residence</h1>
        </div>
    </div>
</div>