// Custom scroll bar styling

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Styling of the left side of page containing all conversations
.chat-conversations{
  border-right-style:solid;
  border-right-width: 0.5px;
  border-right-color: #ccc;
  position: relative;
 height:85vh;
  h4{
    font-size: 16px;
    font-weight:bold; 
    margin-bottom: 0.5rem;
  }
  overflow-y: scroll;
}

// Styling of the window containing all chat messages for a conversation
.chat-window{
  height:85vh;
  overflow-y: scroll;
  
  
  &__header{
  }
  
  &__messages{
    width: 100%;
    padding: 0 3rem;
  }
  
  &__input{
    position: absolute;
    bottom: 1rem;
    width: 60%;
  }
}

.error-label{
  color:red;
}