.chat-conversations{
  border-right-style:solid;
  border-right-width: 0.5px;
  border-right-color: #ccc;
  position: relative;
 height:85vh;
  h4{
    font-size: 16px;
    font-weight:bold; 
    margin-bottom: 0.5rem;
  }
  overflow-y: scroll;
}
.chat-window{
  height:85vh;
  overflow-y: scroll;
  
  &__header{
  }
  
  &__messages{
    width: 100%;
    padding: 0 3rem;
  }
  
  &__input{
    position: absolute;
    bottom: 1rem;
    width: 60%;
  }
}