@inherits LayoutComponentBase
@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*     <div class="main"> *@
@*         <div class="top-row px-4"> *@
@*             <TopNavMenu/> *@
@*         </div> *@
@* *@
@*         <div class="content"> *@
@*             @Body *@
@*         </div> *@
@*     </div> *@
@* </div> *@




@* New Navigation links will go into MatAppBarSection *@
@* Documentation for MatBlazor can be found at: https://www.matblazor.com/ *@

<MatAppBarContainer>
    <MatAppBar Fixed="true" class="mat-elevation-z4">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="MenuClicked"></MatIconButton>
                <MatAppBarTitle>VIA BnB</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatButtonLink class="text-white nav-link mat-elevation-z14" Match="NavLinkMatch.All" href="/" Style="margin-right: 1em;">
                    Home
                </MatButtonLink>
                <MatButtonLink class="text-white nav-link mat-elevation-z14" href="/registerresidence" Style="margin-right: 1em;">
                    About
                </MatButtonLink>
                <MatButtonLink class="text-white nav-link mat-elevation-z14" href="/BecomeGuest" Style="margin-right: 1em;">
                    Become Guest
                </MatButtonLink>
                <MatButtonLink class="text-white nav-link mat-elevation-z14" href="/Administration" Style="margin-right: 1em;">
                    Administration
                </MatButtonLink>
                <MatButton class="text-white nav-link mat-elevation-z14" OnClick="LogOut" Style="margin-right: 1em;">
                    Log out
                </MatButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    
    <MatAppBarContent>
        @* Navigation modal. Opens the side menu *@
        <MatDrawerContainer Style="width: 100vw; height: 100vh">
            <MatDrawer @bind-Opened="_opened" Mode="MatDrawerMode.Modal">
                <MatListGroup>
                    <MatListGroupSubHeader Style="margin-top: 1rem">Manage residences</MatListGroupSubHeader>
                    <MatList>
                        <MatListItem Href="/registerresidence" >
                            Register Residence
                        </MatListItem>
                        <MatListItem Href="/buildingsoverview" >
                            Buildings overview 
                        </MatListItem>
                        <MatListItem Href="/registerhost" >
                            Register 
                        </MatListItem>
                    
                    </MatList>
                </MatListGroup>
            </MatDrawer>
            <MatDrawerContent>
                <div class="container"> 
                    @Body 
                </div> 
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code
{
    private bool _opened = false;

    private void MenuClicked()
    {
        _opened = !_opened;
    }
    
    
    public async Task LogOut()
    {
    /*try
        {
            ((CustomAuthenticationStateProvider) authenticationStateProvider).Logout();
            navigationManager.NavigateTo("/login");
        }
        catch (Exception e)
        {
        }*/
    }
}