@inherits LayoutComponentBase
@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*     <div class="main"> *@
@*         <div class="top-row px-4"> *@
@*             <TopNavMenu/> *@
@*         </div> *@
@* *@
@*         <div class="content"> *@
@*             @Body *@
@*         </div> *@
@*     </div> *@
@* </div> *@




@* New Navigation links will go into MatAppBarSection *@
@* Documentation for MatBlazor can be found at: https://www.matblazor.com/ *@

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="MenuClicked"></MatIconButton>
                <MatAppBarTitle>VIA BnB</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatButtonLink class="text-white nav-link" Match="NavLinkMatch.All" href="/">
                    Home
                </MatButtonLink>
                <MatButtonLink class="text-white nav-link" href="/registerresidence">
                    About
                </MatButtonLink>
                <MatButtonLink class="text-white nav-link" href="" Style="background-color: darkred">
                    Become Host
                </MatButtonLink>
                <MatButtonLink class="text-white nav-link" href="/Administration" Style="background-color: darkgreen">
                    Administration
                </MatButtonLink>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    
    <MatAppBarContent>
        @* Navigation modal. Opens the side menu *@
        <MatDrawerContainer Style="width: 100vw; height: 100vh">
            <MatDrawer @bind-Opened="_opened" Mode="MatDrawerMode.Modal">
            <MatListGroup>
                <MatListGroupSubHeader Style="margin-top: 1rem">Manage residences</MatListGroupSubHeader>
                <MatList>
                    <MatListItem Href="/registerresidence" >
                        Register Residence
                    </MatListItem>
                    <MatListItem Href="/buildingsoverview" >
                        Buildings overview 
                    </MatListItem>
                    
                </MatList>
            </MatListGroup>
            </MatDrawer>
            <MatDrawerContent>
                <div class="container">
                @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code
{
    private bool _opened = false;

    private void MenuClicked()
    {
        _opened = !_opened;
    }
    
}
