@page "/About"


<div class="container">

    <div class="row mb-3 ">
        <div class="col-md-12 d-flex justify-content-center ">
            <h1>Our founding Fathers</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-center  ">
            <img class="border border-warning rounded" src="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/ProfilePics/all.png" alt="The founders">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <h2>Why we created VIABnB</h2>
            <p>
                We created VIABnB to change the lives of students. VIABnB provides shelter in rental of residences, and provides students
                a place for their relatives to have a place to stay temporarily. UwU
            </p>
        </div>

        <div class="col-md-4">
            <h2>Our vision</h2>
            <p>
                Our dream is to create a service that gives the student more freedom of accomomdation without breaking the bank.
                Our services are all low priced, and we take nothing in provision. *COUGH* ads *COUGH* UwU
            </p>
        </div>
        <div class="col-md-4">
            <h2>Join our team</h2>
            <p>
                Want to join our amazing team of awesomeness?
                We are currently not hiring as our team is fully staffed. Stay connected to the this page for updates. UwU
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-1">
        <h2> Individual Team Members</h2>
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-3">

            @* Michael *@
            <MatCard class="demo-mat-card p-1">
                <MatCardContent>
                    <div class="d-flex justify-content-center">
                        <img class="profilePics border border-warning" src="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/ProfilePics/mic.jpg" alt="micpic">

                    </div>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Michael
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Slayer of Dragons
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <p >
                            <i style="color: #4e555b"> "I am in this for the money."</i>
                        </p>
                        <p>
                            <i style="color: #4e555b">-Michael</i>
                        </p>
                    </MatBody2>
                </MatCardContent>
            </MatCard>
        </div>

        <div class="col-md-3">
            @* Kasper *@
            <MatCard class="demo-mat-card p-1">
                <MatCardContent>
                    <div class="d-flex justify-content-center">
                        <img class="profilePics border border-warning" src="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/ProfilePics/kasp.jpg" alt="kasperpic">

                    </div>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Kasper
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Groundskeeper
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <p >
                            <i style="color: #4e555b"> "KEEP AWAY GROUND!"</i>
                        </p>
                        <p>
                            <i style="color: #4e555b">-Kasper</i>
                        </p>
                    </MatBody2>
                </MatCardContent>
            </MatCard>
        </div>
        <div class="col-md-3">
            @* Lilian *@
            <MatCard class="demo-mat-card p-1">
                <MatCardContent>
                    <div class="d-flex justify-content-center">
                        <img class="profilePics border border-warning" src="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/ProfilePics/lila.jpg" alt="lilianpic">
                    </div>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Lilian
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Feeder of Cats
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <p >
                            <i style="color: #4e555b"> "No cats will starve on my watch"</i>
                        </p>
                        <p>
                            <i style="color: #4e555b">-Lilian</i>
                        </p>
                    </MatBody2>
                </MatCardContent>
            </MatCard>

        </div>
        <div class="col-md-3">
            @* Kutaiba *@
            <MatCard class="demo-mat-card p-1">
                <MatCardContent>
                    <div class="d-flex justify-content-center">
                        <img class="profilePics border border-warning" src="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/ProfilePics/kut.jpg" alt="kutaibapic">

                    </div>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Kutaiba
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Cleaner of Floor
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <p >
                            <i style="color: #4e555b"> "It ain't much, but it's honest work"</i>
                        </p>
                        <p>
                            <i style="color: #4e555b">-Kutaiba</i>
                        </p>
                    </MatBody2>
                </MatCardContent>
            </MatCard>
        </div>
    </div>
</div>


@code {

}