@page "/About"
<h3>About</h3>

<style>
            .demo-mat-card {
                max-width: 400px;
            }
 
            .demo-mat-card-content {
                padding: 1rem;
            }
 
            .demo-mat-card-clean-margin {
                margin: 0px;
            }
        </style>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Our founding Fathers</h1>
            <img src="media/ProfilePics/all.png" alt="The founders">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>headline</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Vivamus imperdiet ultrices enim. 
                Mauris maximus mattis lectus ut bibendum. Donec eget convallis tortor, ut luctus sem. 
                Proin sapien odio, tempus vitae mollis vitae, porttitor vel nibh. 
                Mauris venenatis venenatis ornare. Phasellus ac diam non lacus efficitur maximus. 
                Suspendisse bibendum tristique porttitor. Quisque euismod felis vel sapien egestas tincidunt.</p>
        </div>
        
        <div class="col-md-4">
            <h2>headline</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Vivamus imperdiet ultrices enim. 
                Mauris maximus mattis lectus ut bibendum. Donec eget convallis tortor, ut luctus sem. 
                Proin sapien odio, tempus vitae mollis vitae, porttitor vel nibh. 
                Mauris venenatis venenatis ornare. Phasellus ac diam non lacus efficitur maximus. 
                Suspendisse bibendum tristique porttitor. Quisque euismod felis vel sapien egestas tincidunt.</p>
        </div>
         <div class="col-md-4">
                    <h2>headline</h2>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Vivamus imperdiet ultrices enim. 
                        Mauris maximus mattis lectus ut bibendum. Donec eget convallis tortor, ut luctus sem. 
                        Proin sapien odio, tempus vitae mollis vitae, porttitor vel nibh. 
                        Mauris venenatis venenatis ornare. Phasellus ac diam non lacus efficitur maximus. 
                        Suspendisse bibendum tristique porttitor. Quisque euismod felis vel sapien egestas tincidunt.</p>
                </div>
    </div>


    <div class="row">
        <div class="col-md-3">

            @* Michael *@
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <MatCardMedia Wide="true" ImageUrl=""> ></MatCardMedia>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Michael
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Slayer of Dragons
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <p >
                            <i style="color: #4e555b"> "I am in this for the money"</i>
                        </p>
                        <p>
                            <i style="color: #4e555b">-Michael</i>
                        </p>
                    </MatBody2>
                </MatCardContent>
            </MatCard>
        </div>

        <div class="col-md-3">
            @* Kasper *@
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Kasper
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Groundskeeper
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <p >
                            <i style="color: #4e555b"> "KEEP AWAY GROUND!"</i>
                        </p>
                        <p>
                            <i style="color: #4e555b">-Kasper</i>
                        </p>
                    </MatBody2>
                </MatCardContent>
            </MatCard>
        </div>
        <div class="col-md-3">
            @* Lilian *@
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Lilian
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Feeder of Cats
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <p >
                            <i style="color: #4e555b"> "No cats will starve on my watch"</i>
                        </p>
                        <p>
                            <i style="color: #4e555b">-Lilian</i>
                        </p>
                    </MatBody2>
                </MatCardContent>
            </MatCard>

        </div>
        <div class="col-md-3">
            @* Kutaiba *@
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Kutaiba
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Cleaner of Floor
                        </MatSubtitle2>
                    </div>

                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <p >
                            <i style="color: #4e555b"> "Our floors have never looked cleaner"</i>
                        </p>
                        <p>
                            <i style="color: #4e555b">-Everybody</i>
                        </p>
                    </MatBody2>
                </MatCardContent>
            </MatCard>
        </div>
    </div>
</div>


@code {

}