

.demo-mat-card {
    max-width: 400px;
    max-height: 495px;
}

.demo-mat-card-content {
    padding: 1rem;
    max-height: 495px;
}

.demo-mat-card-clean-margin {
    margin: 0px;
}

.profilePics {
    height: 300px;
  
}

