@using SEP3BlazorT1Client.Models
<MatPaper Elevation="7">
    <div class="message-container">
        <div class="message">
            <div class="message__header">
                <p>@Message.Sender.FirstName <span id="time-sent">@Message.TimeSent</span></p>
                <p id="email">@Message.Sender.Email</p>
            </div>
            <div class="message__content">
                <p>@Message.Content</p>
            </div>
        </div>
    </div>
</MatPaper>

@code {

    [Parameter]
    public Message Message { get; set; }

}