@page "/MyProfile/{Id:int}"
@if (isLoading)
{
    <p>askdjsuydgqwl</p>
}
else
{
    <div class="row">
        <div class="col-md-4 left-bar">
            <br/>
            <div class="form-group">
                <img id="img" src="media/User.png" alt="user"/>
            </div>
            <div class="form-group">
                <MatHeadline6> First and last name</MatHeadline6>
            </div>
            <div class="form-group" id="file-uploader">
                <MatFileUpload OnChange="@FilesReady" Label="" Style="height: 1em"></MatFileUpload>
            </div>
            <br/>
            <div class="form-group">
                <MatButton TrailingIcon="edit" Unelevated="true" Style="width: 200px">Edit profile info</MatButton>
            </div>
            <br/>
            <div class="form-group">
                <MatButton TrailingIcon="save" Unelevated="true" Style="width: 200px; background-color: green">Save changes</MatButton>
            </div>
            <br/>
            <div class="form-group">
                <MatButton TrailingIcon="cancel" Unelevated="true" Style="width: 200px; background-color: red">Cancel</MatButton>
            </div>
        </div>
        <div class="col-md-8">
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <p>
                            <MatTextField @bind-Value="_host.FirstName" Label="First Name" FullWidth="true"></MatTextField>
                        </p>
                    </div>
                    <div class="form-group">
                        <MatSubtitle1></MatSubtitle1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>
                            <MatTextField @bind-Value="_host.LastName" Label="Last Name" FullWidth="true"></MatTextField>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}