.page-container{
  padding-top: 2rem;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  
  .residence-filters{
    margin-bottom: 1rem;
    gap: 1rem;
  }
  
  .residence-directory{
    gap: 2rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.mdc-dialog .mdc-dialog__container {
  width: 100%;
}

@media (min-width: 592px) {
  .mdc-dialog .mdc-dialog__surface {
    max-width: 1000px !important;
  }
}
.mdc-dialog .mdc-dialog__surface {
  max-width: none !important;
  width: 100%;
}