/* _content/SEP3BlazorT1Client/Pages/RegisterHost/RegisterHost.razor.rz.scp.css */


.sign-up-container[b-rrcjnl38of] {
    display: flex;
    background-color: #EBECF5;
}
.sign-up-container .left-section[b-rrcjnl38of] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: #2B2D42;
}
.sign-up-container .left-section img[b-rrcjnl38of] {
    height: 50%;
    width: 50%;
}
.sign-up-container .right-section[b-rrcjnl38of] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}
.sign-up-container .right-section .form-group[b-rrcjnl38of] {
    display: flex;
    flex-direction: column;
}
.sign-up-container .right-section .form-group input[b-rrcjnl38of] {
    border-radius: 5px;
    border: none;
    width: 20rem;
    height: 2.5rem;
    padding-left: 1rem;
    background-color: #2B2D42;
    color: white;
}
.sign-up-container .right-section .form-group input[b-rrcjnl38of]::placeholder {
    color: white;
}
.sign-up-container .right-section .form-group input:last-of-type[b-rrcjnl38of] {
    margin-bottom: 1rem;
}
.sign-up-container .right-section button[b-rrcjnl38of] {
    background-color: #2B2D42;
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.5rem;
}
.sign-up-container .right-section button:hover[b-rrcjnl38of] {
    opacity: 0.7;
}
.sign-up-container .right-section p.p-go-to-login span[b-rrcjnl38of] {
    cursor: pointer;
    color: #292D85;
    transition: all 0.2s ease-in-out;
}
.sign-up-container .right-section p.p-go-to-login span:hover[b-rrcjnl38of] {
    font-weight: bold;
}
.sign-up-container .error-label[b-rrcjnl38of] {
    color: red;
}
/* _content/SEP3BlazorT1Client/Pages/RegisterResidence/RegisterResidence.razor.rz.scp.css */


h1[b-k9ofycq017] {
    font-size: 24px;
    font-weight: bold;
}

h2[b-k9ofycq017] {
    font-size: 18px;
    margin-top: 2rem;
    font-weight: bold;
}

h3[b-k9ofycq017] {
    font-size: 16px;
}
/* _content/SEP3BlazorT1Client/Shared/MainLayout.razor.rz.scp.css */
a[b-9bhvrerbv1] {
    transition: all 0.3s ease-in-out;
}

a:hover[b-9bhvrerbv1] {
    opacity: 0.7;
}

.page[b-9bhvrerbv1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-9bhvrerbv1] {
    flex: 1;
}

.sidebar[b-9bhvrerbv1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-9bhvrerbv1] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-9bhvrerbv1]  a, .top-row .btn-link[b-9bhvrerbv1] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-9bhvrerbv1] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-9bhvrerbv1] {
        display: none;
    }

    .top-row.auth[b-9bhvrerbv1] {
        justify-content: space-between;
    }

    .top-row a[b-9bhvrerbv1], .top-row .btn-link[b-9bhvrerbv1] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-9bhvrerbv1] {
        flex-direction: row;
    }

    .sidebar[b-9bhvrerbv1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-9bhvrerbv1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-9bhvrerbv1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SEP3BlazorT1Client/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-tcxb1p1o3j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-tcxb1p1o3j] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-tcxb1p1o3j] {
    font-size: 1.1rem;
}

.oi[b-tcxb1p1o3j] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-tcxb1p1o3j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-tcxb1p1o3j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-tcxb1p1o3j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-tcxb1p1o3j]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-tcxb1p1o3j]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-tcxb1p1o3j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-tcxb1p1o3j] {
        display: none;
    }

    .collapse[b-tcxb1p1o3j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
