@page "/BuildingsOverview"
@using SEP3BlazorT1Client.Models


<!--<h3>BuildingOverview</h3>-->

<style>
            .demo-mat-card {
                max-width: 400px;
                padding-top: 5px;
                margin-top: 6px;
            }
 
            .demo-mat-card-content {
                padding: 1rem;
            }
 
            .demo-mat-card-clean-margin {
                margin: 0px;
            }
  </style>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        @foreach (var residence in Residences)
        {
            <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                                <MatCardContent>
                                    <MatCardMedia Wide="true" ImageUrl=@residence.ImageUrl></MatCardMedia>
                                    <div class="demo-mat-card-content">
                                        <MatHeadline6 class="demo-mat-card-clean-margin">
                                            Unique stays
                                        </MatHeadline6>
                                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                                            @residence.Address.ToString()
                                        </MatSubtitle2>
                                    </div>
                
                                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                        @residence.Description
                                    </MatBody2>
                                </MatCardContent>
                                <MatCardActions>
                                    <MatButton OnClick="@(() => residence.IsAvailable = true)">Ready for rent</MatButton>
                                </MatCardActions>
                            </MatCard>
            </div>
        }
    </div>
</div>






@code {

    Residence[] Residences = new[]
    {
        new Residence
        {
            Id = 1,
            Address = new Address()
            {
                Id = 1,
                StreetName = "Sally",
                HouseNumber = "2",
                StreetNumber = "3b",
                City = new City()
                {
                    CityName = "Horsens",
                    ZipCode = 8700
                }
            },
            Description = "beautiful house full of cats!",
            Type = "villa",
            AverageRating = 2,
            IsAvailable = false,
            PricePerNight = 1000,
            Rules = new List<Rule>(),
            Facilities = new List<Facility>(),
            ImageUrl = "https://static.dezeen.com/uploads/2020/02/house-in-the-landscape-niko-arcjitect-architecture-residential-russia-houses-khurtin_dezeen_2364_hero-852x479.jpg"
        },

        new Residence
        {
            Id = 2,
            Address = new Address()
            {
                Id = 2,
                StreetName = "Reshee",
                HouseNumber = "B",
                StreetNumber = "A1",
                City = new City()
                {
                    CityName = "Horsens",
                    ZipCode = 8700
                }
            },
            Description = "amazing house full of flowers and books",
            Type = "house",
            AverageRating = 1,
            IsAvailable = false,
            PricePerNight = 1000,
            Rules = new List<Rule>(),
            Facilities = new List<Facility>(),
            ImageUrl = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyXb58B6PUsT9t0EfH8zKpl_An5h0ssJhZnw&usqp=CAU"
        },
    };

}