.available-period {
    display: flex;
    justify-content: space-between;
    color: gray;
}

.demo-mat-card {
    max-width: 400px;
    padding-top: 5px;
    margin-top: 6px;
}

.demo-mat-card-content {
    padding: 1rem;
}

.demo-mat-card-clean-margin {
    margin: 0px;
}


.mdc-dialog__surface {
    min-width: 1000px !important;
}

.mdc-dialog .mdc-dialog__surface {
    min-width: 1000px !important;
}

@media (min-width: 592px) {
    .mdc-dialog .mdc-dialog__surface {
        max-width: 1000px;
        min-width: 1000px;
    }
}
.mdc-dialog .mdc-dialog__surface {
    min-width: 1000px !important;
    width: 100% !important;
}
.large .mdc-dialog__surface {
    min-width: 80vw !important;
}

