@page "/"
@inject NavigationManager NavigationManager
<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1)">
    <div class="landing-page-container">
        <div class="background-image">
            <div class="cta-host">
                <Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(0.5)" Easing="Easings.EaseIn"> 
                    <h1>Want to help the future engineers, pedagogues, nurses and more of Denmark?</h1>
                </Animate>
                <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1.5)" Delay="TimeSpan.FromSeconds(1.5)">
                    <MatButton Label="Become a Host" Raised="true" OnClick="@(() => NavigationManager.NavigateTo("/registerhost"))"/>
                </Animate>
            </div>
        </div>
    </div>
</Animate>