@page "/"
<div class="mat-layout-grid mat-layout-grid-align-center" style="max-width: 1000px;">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatHeadline1>Welcome to VIABnB</MatHeadline1>
        </div>
    </div>
</div>
<div class="mat-layout-grid" style="max-width: 2000px;">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
        <img src="media/Intro.jpg" alt="Intro img" id="intro-image"/>
    </div>
</div>