@inject IResidenceService ResidenceService;
@page "/"
@using SEP3BlazorT1Client.Models
@using SEP3BlazorT1Client.Data


@* <h1>Proof of concept</h1> *@
@* <span>T1 --> T2 REST API --> T3 SOAP API with Postgres DB *@
@* </span> *@
@* *@
@* <div> *@
@*      *@
@*     <p>Fetched Message: </p> *@
@*     @if (_residence != null) *@
@*     { *@
@*     <p>@_residence.ToString()</p> *@
@*     } *@
@*     <Input type="number" @oninput="(e) => { _id = Int32.Parse(e.Value.ToString()); }"/> *@
@*     <button type="submit" @onclick="CreateNewResidence" class="btn btn-primary"> *@
@*         FETCH CONCEPT MESSAGE *@
@*     </button> *@
@* </div> *@
 <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell"></div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatCard class="demo-mat-card">
                        <MatCardContent style="padding: 1rem">
                            <table>
                                <tr>
                                    <td>
                                        <img class="profile-img" style="margin-left: 6em; margin-bottom: 2em" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MatTextField @bind-Value="@MyString4" Label="Sign in" Outlined="true" Style="margin-left: 3em"></MatTextField>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MatTextField @bind-Value="@MyString4" Dense="true" Label="Password" Outlined="true" Style="margin-left: 3em;"></MatTextField>
                                    </td>
                                </tr>
                                  <tr>
                                      <td>
                                           <MatButton Raised="true" Style="margin-left: 8em;">Log in</MatButton>
                                      </td>
                                      </tr>
                            </table>
                        </MatCardContent>
                        <MatDivider Inset="true"></MatDivider>
                                <MatCardActions>
                                    <MatButton>Don't have an account, register here</MatButton>
                                </MatCardActions>
                            </MatCard>
                </div>
                <div class="mat-layout-grid-cell"></div>
            </div>
        </div>



@code
{
    private int? _id;
    private Residence _residence;
    private string MyString4;
    
    protected override async Task OnInitializedAsync()
    {
        _id = 0;
    }

    private async Task CreateNewResidence()
    {
        Residence newResidence = new Residence()
        {
            Address = new Address()
            {
                CityName = "420City", 
                HouseNumber ="420", 
                Id= 420, 
                StreetName = "420 Street",
                StreetNumber = "420",
                ZipCode=420
            },
            AvailableFrom = DateTime.ParseExact("07/12/2021", "dd/MM/yyyy", null),
            AvailableTo = DateTime.ParseExact("24/12/2021", "dd/MM/yyyy", null), 
            AverageRating = 5, 
            Description ="420 des",
            Facilities = new List<Facility>(), 
            Id = 420, 
            IsAvailable = false, 
            PricePerNight = 2000,
            Rules = new List<Rule>(), 
            Type = "420 blaze",
            ImageUrl ="420"
            
        };
        var result = await ResidenceService.CreateResidenceAsync(newResidence); 
        _residence = result;
        StateHasChanged();
    }
    private async Task FetchConceptMessage()
    {
        int myInt = 0; 
        if (_id == null)
        {
            myInt = 0; 
        }
        else
        {
            myInt = (int) _id;
        }
       _residence = await ResidenceService.GetResidenceAsync(1);
        Console.WriteLine("Fetched");
        Console.WriteLine(_residence.ToString());
    }
}
