@inject IResidenceService ResidenceService;
@page "/"
@using SEP3BlazorT1Client.Models
@using SEP3BlazorT1Client.Data


<h1>Proof of concept</h1>
<span>T1 --> T2 REST API --> T3 SOAP API with Postgres DB
</span>

<div>
    
    <p>Fetched Message: </p>
    @if (_residence != null)
    {
    <p>@_residence.ToString()</p>
    }
    <Input type="number" @oninput="(e) => { _id = Int32.Parse(e.Value.ToString()); }"/>
    <button type="submit" @onclick="FetchConceptMessage" class="btn btn-primary">
        FETCH CONCEPT MESSAGE
    </button>
</div>

@code
{
    private int? _id;
    private Residence _residence;

    protected override async Task OnInitializedAsync()
    {
        _id = 0;
    }

    private async Task FetchConceptMessage()
    {
        int myInt = 0; 
        if (_id == null)
        {
            myInt = 0; 
        }
        else
        {
            myInt = (int) _id;
        }
       _residence = await ResidenceService.GetResidenceAsync(1);
        Console.WriteLine("Fetched");
        Console.WriteLine(_residence.ToString());
    }
}
